<%- include('partials/_header.ejs') -%>
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="/page/index" class="nav-item nav-link active">Home</a>
                        <a href="/page/about" class="nav-item nav-link">About</a>
                        <a href="/page/service" class="nav-item nav-link">Service</a>
                        <a href="/page/menu" class="nav-item nav-link">Menu</a>
                        <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="/page/booking" class="dropdown-item">Booking</a>
                                <a href="/page/team" class="dropdown-item">Our Team</a>
                                <a href="/page/testimonial" class="dropdown-item">Testimonial</a>
                            </div>
                        </div> -->
                        <a href="/page/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <a href="/page/index" class="btn btn-primary py-2 px-4">Book A Table</a>
                </div>
            </nav>

            <div class="container-xxl py-4  bg-dark hero-header mb-5">
                <div class="container my-5 py-2">
                    <!-- <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-6  text-white animated slideInLeft">Ziyaretçi Sayısı<br></h1>
                            <h1 class="display-6  text-white animated slideInLeft"><%= visitorCount %></h1>
                     
                        </div>
                     
                    </div> -->
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-6  text-white animated slideInLeft">Ziyaretçi Sayısı<br></h1>
                            <h1 class="display-6  text-white animated slideInLeft"><%= visitorCount %></h1>
                            <br>
                            <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                            <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid" src="/static/img/hero.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <script>
            window.csrfToken = '<%= csrfToken %>';
          </script>
        <!-- Table Reservation -->
        <%- include('./partials/_table.ejs') %>
        
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Duyurular</h5>
        </div>
        </div>
        </div>

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% data.forEach((element, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <img src="/static/img/anc/<%= element.image %>" class="d-block w-100" alt="...">
                    </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <%- include('partials/_faq.ejs') %>
        <p></p>
    <%- include('partials/_footer.ejs') -%>
        

       
        

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include('partials/_jsLib.ejs') -%>

  
</body>

</html>